@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:600,700italic');
@import url('https://fonts.googleapis.com/css?family=Inter:regular,bold,italic&subset=latin,latin-ext');

html body{
  place-items:flex-start;
  background-color: #FFF5EA;
  font-family: Inter;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  font-family: IBM Plex Mono;
  font-style: italic;
}

p, h5{
  margin:0;
}

.neo-btn{
  margin-top: 15px;
  border: 2px solid #000;
  border-radius: 0px;
  background: #2FFF2F;
}

.neo-btn:hover{
  box-shadow: 2px 2px 0px 0px #000;
  border-color: #000;
}


