/*marcelo css*/
html body{
  place-items:flex-start;
  background-color: #6947FF;
}

.neo-btn{
  margin-top: 15px;
  border: 2px solid #000;
  border-radius: 0px;
  background: #2FFF2F;
}

.neo-btn:hover{
  box-shadow: 2px 2px 0px 0px #000;
  border-color: #000;
}

.container{
  min-height: 570px;
}

/* .card-link{
  display: block;
  width: fit-content;
  height: auto;
} */

p, h5{
  margin:0;
}

