/* General Card CSS */
.card{
  border: 4px solid #000;
  background: #FFF;
  border-radius: 0px;
  padding: 20px;
  margin-top: 20px;
}

.card:hover{
  box-shadow: 8px 8px 0px 0px #000;
}

.card img {
  max-height: 227px;
  max-width: 227px;
  margin-bottom: 10px;
  object-fit: cover;
}

.card .icon{
  width: 25px;
  height: 25px;
  margin: 0;
}

/*Card for just text display*/
.card.info{
  width: 50%;
  box-shadow: 8px 8px 0px 0px #000;
  margin-bottom: 20px;
 }

@media only screen and (max-width: 991px) {
  .card{
    flex-direction: row;
    height: fit-content;
  }
  .card img {
    max-width: 100px;
    max-height:100px;
    margin: 0 10px 0 0;
  }

  .card.info{
    flex-direction: column;
    width: 100%;
  }
}

.secondary-name {
  font-size: 12px;
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: fit-content;
}

.primary-name {
  font-size: 16px;
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: fit-content;
  margin-bottom: 10px;
}

/* Searched Artist Card CSS */
.searched {
  /* max-width: 217px; */
  /* height: 275px; */
  cursor: pointer;
}

/* Recommended Artist Card CSS */
.recommended {
  width: 100%;
  /* height: 275px; */
}

@media only screen and (max-width: 991px) {
  .recommended{
    height: fit-content;
  }

  .primary-name,.secondary-name{
    white-space:normal;
  }
}